.stockDataRegion {
  display: flex;
  flex: 1;
  padding-top: 0;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.textData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.noDataMessage {
  text-align: center;
}

/* Added immediately when the unmount is triggered */
.fade-leave {
  opacity: 1;
}

/* Added the next tick after fade-leave;
   defines the animation we see during unmount */
.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms;
}