.stockDataRegion {
  display: flex;
  flex: 1;
  padding-top: 0;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.textData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.noDataMessage {
  text-align: center;
}

/* Added immediately when mount is triggered */
.fade-enter {
  opacity: 0.01;
}

/* Added the next tick after fade-enter;
   defines the animation we see during mount.
   Must match value of transitionEnterTimeout in StockDataRegion. */
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

/* Added immediately when unmount is triggered */
.fade-leave {
  opacity: 1;
}

/* Added the next tick after fade-leave;
   defines the animation we see during unmount.
   Must match value of transitionLeaveTimeout in StockDataRegion. */
.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms;
}