.priceAndTodaysPriceChange {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.currentPrice {
  font-size: 2.0em;
  font-weight: bold;
  margin-bottom: 16px;
}

.positive, .negative {
  font-size: 1.8em;
}

.positive {
  color: green;
}

.negative {
  color: red;
}