.navBar {
  display: flex;
  align-items: center;
  padding-left: 30%;
  width: 100%;
  background-color: #34414D;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #5998ff;
}

.navBar span {
  font-size: 1.5em;
}

ul.nav {
  list-style: none;
}

.nav li {
  padding: 1em;
  display: inline;
}