.navBar {
  align-items: center;
  background-color: #34414D;
  color: white;
  display: flex;
  width: 100%;
  padding: 0;
}

.navBar .title {
  font-size: 1.5em;
  padding-left: 40px;
}

ul .nav {
  list-style: none;
}

.nav li {
  padding: 1em;
  display: inline;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover {
  color: #5998ff;
}