.home {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.error {
  margin: 0 auto;
  color: red;
  font-size: 1.3em;
}

.loader {
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
}