.priceAndTodaysPriceChange {
  clear: both;
  display: flex;
  align-items: center;
}

h1, h2 {
  float: left;
}

h1 {
  margin-left: 0.4em;
}

.green {
  color: green;
  margin-left: 1.5em;
}

.red {
  color: red;
  margin-left: 1.5em;
}