.search {
  display: flex;
  justify-content: center;
  margin: 24px;
}

.searchText {
  font-size: 1.5em;
  padding: 4px 8px;
  background-color: #f4f4f4;
  border: 1px solid #5998ff;
  border-radius: 4px;
  width: 400px;
}

.searchText:focus, .searchButton:focus {
  outline: none;
}

.searchButton {
  font-size: 1.3em;
  height: 36px;
  padding: 4px 15px;
  margin-left: 4px;
  border: 2px solid #5998ff;
  background-color: #5998ff;
  color: #fafafa;
  border-radius: 4px;
}

.searchButton:hover {
  background-color: #fafafa;
  color: #207cca;
  cursor: pointer;
}